<div>
    <header class="header" wmAnimate="landing" aos speed="normal">
        <a class="logo">
            <span class="grey-color"> &lt;</span>
            <span class="logo-name">{{greeting.username}}</span>
            <span class="grey-color">/&gt;</span>
        </a>
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <nav>
            <ul class="menu">
                <li>
                    <a routerLink="/home" routerLinkActive="active">About</a>
                </li>
                <li>
                    <a routerLink="/experience" routerLinkActive="active">Experience</a>
                </li>
                <li>
                    <a routerLink="/education" routerLinkActive="active">Education</a>
                </li>
                <li>
                    <a routerLink="/projects" routerLinkActive="active">Projects</a>
                </li>
                <li>
                    <a routerLink="/skills" routerLinkActive="active">Skills</a>
                </li>

                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact Me</a>
                </li>
            </ul>
        </nav>

    </header>
</div>