<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="main contact-margin-top" id="contact" wmAnimate="jackInTheBox" aos speed="normal">
    <div class="contact-div-main">
        <div class="contact-header">
            <h1 class="heading contact-title" style="font-weight: bolder;">Contact Me ☎️ </h1>
            <div class="contact-text-div">
                <a class="contact-detail">{{phone}}</a>
                <br><br>
                <a class="contact-detail-email" href="{{'mailto:' + gmail}}">
                    {{gmail}}</a>
                <br><br>
                <div class="social-media-div">
                    <a href={{github}} class="icon-button github" target="_blank">
                        <i class='fab fa-github'></i>
                        <span></span>
                    </a>
                    <a href={{linkedin}} class="icon-button linkedin" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span></span>
                    </a>
                    <a href="{{'mailto:' + gmail}}" class="icon-button google" target="_blank">
                        <i class="fab fa-google"></i>
                        <span></span>
                    </a>
                    <a href={{facebook}} class="icon-button facebook" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                        <span></span>
                    </a>
                </div>
                <div class="project-button"><a class="main-button" href="{{resume}}" target="_blank">My Resume</a></div>
            </div>


        </div>
    </div>
</div>
