<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"> -->
<app-header></app-header>
<!-- <app-home name="home"></app-home> -->
<!-- <app-experience name="experience"></app-experience> -->
<!-- <app-education name="education"></app-education> -->
<!-- <app-projects name="projects"></app-projects> -->
<!-- <app-skills name="skills"></app-skills> -->
<!-- <app-contact name="contact"></app-contact> -->
<router-outlet></router-outlet>
 <!-- <app-dashboard class="dashboard"></app-dashboard> -->
<app-footer></app-footer>

