<div class="main" id="projects" wmAnimate="landing" aos speed="faster">
  <h1 class="project-title">Projects 📂</h1>
  <div class="github__chart">
    <!-- <app-github-calender></app-github-calender> -->
  </div>
  <div class="repo-cards-div-main">
    <app-github-card *ngFor="let project of projects; let i = index" [name]="project['name']"
      [description]="project['description']" [link]="project['link']" [role]="project['role']" [languages]="project['languages']" [tools]="project['tools']"></app-github-card>
  </div>
  <!--  <button class="project-button" >MoreProject</button>-->
  <div class="project-button"><a class="main-button" href="https://github.com/mennamohamed0207" target="_blank">More
      Projects</a></div>
</div>