<!--<p>education works!</p>-->
<div class="prt_about_edulearn_wrapper" id="education">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prt_heading_wrapper">
            <div class="prt_heading">
                <h1 class="timeline-heading" style="font-weight: bolder;">Experience 💻</h1>
            </div>
        </div>
        <div class="prt_about_learnsection" *ngIf="timeline">
            <div *ngFor="let i of timeline let count=index" wmAnimate="landing" aos speed="normal">
                <div [ngClass]="{'mar-right': count % 2 != 0, 'mar-left': count % 2 == 0}">
                    <div
                        [ngClass]="{'prt_about_learnbox_left': count % 2 != 0, 'prt_about_learnbox_right': count % 2 == 0}">

                        <div class="prt_about_learnbox_year">
                            <h1 class="year">{{i.fromDate}}</h1>
                        </div>
                        <div class="prt_about_learnbox_info">
                            <h4 [ngClass]="{'right': count % 2 != 0, 'left': count % 2 == 0}">{{i.title}}</h4>
                            <h4 [ngClass]="{'right-org': count % 2 != 0, 'left': count % 2 == 0}">{{i.org}}</h4>
                            <ul>
                                <div *ngFor="let i of i.description">
                                    <li class="bullet">{{i}}</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!timeline">
            Loading...
        </div>
    </div>
</div>