<div class="skills-container">
    <div class="prt_heading">
        <h1 class="timeline-heading" style="font-weight: bolder;">Education 📝</h1>
    </div>
    <div class="skills-grid">
        <div class="skills-item design">
            <h3>{{college}}, {{department}}</h3>
            <p>{{degree}}</p>
            <p>
                {{university}}
            </p>
            <p>
                {{fromDate}} - {{toDate}}
            </p>
            <p>Cumulative Percentage: {{totalPercent}}</p>
        </div>
    </div>
</div>